<tr class="direction-row">
  <td>
    <%= dd.sequence %>
  </td>

  <td>
    <% if dd.mark %>
      <%= dd.mark %>
    <% end %>
  </td>

  <td>
    <% if dd.measure %>
      <%= dd.measure %>
    <% end %>
  </td>

  <td>
    <%= dd.direction %>
  </td>

  <td>
    <% if dd.position %>
      <%= dd.position %>
    <% end %>
  </td>
</tr>
