<%= form_for [@dance, @dance_comment] do |f| %>

  <div class="field">
    <h4><%= f.label :comment_type_id, "Type" %></h4>
    <%= f.collection_select :comment_type_id, @comment_type_collection, :id, :name %>
    <%= link_to "View Types", comment_types_path, target: '_blank' %>
  </div>

  <div class="field">
    <h4><%= f.label :comment, "Comment" %></h4>
    <%= f.text_field :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
