<ul class="user_bar">
  <% if @dance_comment.creator?(current_user) %>
    <li><%= link_to 'Edit', edit_dance_comment_path(@dance_comment) %></li>
  <% end %>
  <% if current_user && (@dance_comment.creator?(current_user) || @admin_user || current_user.id == @dance_comment.dance.user_id) %>
    <li><%= link_to 'Delete', @dance_comment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<div class="comments" id="dance_commentlist">
  <h2><%= @dance_comment.dance.title %></h2>
  <h3><%= @dance_comment.comment_type.name %></h3>
  <h4><%= @dance_comment.user.first_name %></h4>
  <p><%= @dance_comment.comment %></p>
</div>
