<main class="user-show">
  <header>
    <ul class="user-bar">
      <li><%= link_to "Edit Profile", edit_user_registration_path(@user) %></li>
    </ul>
    <h2><%= @user.name %></h2>

    <h4>
      <% if @user.privacy1 && @user.privacy2 %>
        <%= @user.first_name %>
      <% end %>
      <% if @user.privacy3 %>
        <%= @user.last_name %>
      <% end %>
    </h4>

    <% if @user.privacy5 %>
      <p><%= @user.location %></p>
    <% end %>

    <% if @user.privacy4 %>
      <h5>Contact</h5>
      <p><%= @user.email %></p>
    <% end %>

    <% if @user.ima %>
      <h4>I am a...</h4>
      <% if @user.dancer %>
        <p>Dancer</p>
      <% end %>
      <% if @user.caller %>
        <p>Caller</p>
      <% end %>
      <% if @user.musician %>
        <p>Musician</p>
      <% end %>
      <% if @user.band %>
        <p>Band</p>
      <% end %>
      <% if @user.choreographer %>
        <p>Choreographer</p>
      <% end %>
      <% if @user.composer %>
        <p>Composer</p>
      <% end %>
    <% end %>

    <p><%= @user.about %></p>

  </header>

  <% if @user.dances? %>
    <section class="dances">
      <h3>Dances</h3>
      <ul class="dance-list">
        <% @dances.each do |dance| %>
        <li>
          <%= render 'dances/dance_box', dance: dance %>
        </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @user.dance_comments? %>
    <section class="dance-comments">
      <h3>Comments</h3>
      <ul class="dance-comment-list">
        <% @dance_comments.each do |dc| %>
          <li>
            <%= render 'dance_comments/dance_comment_box', dc: dc %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <div class="bottom-line">
    <p>Last signed in on <%= @user.last_sign_in_at %></p>
  </div>
</main>
