<%= form_for @dance do |f| %>
  <div id="forms" class="forms" spellcheck="true">
    <form id="d-dd-form">
      <table>

        <tr>
          <table class="no-bord">
            <tr>
              <td>
                <%= f.label :title, "Title" %>
                <%= f.text_field :title, required: true %>
              </td>
            </tr>
          </table>
        </tr>

        <tr>
          <table class="no-bord">
            <tr>
              <td>
                <%= f.label :author, "Author" %>
                <%= f.text_field :author %>
              </td>
              <td>
                <%= f.label :publication, "Publication" %>
                <%= f.text_field :publication %>
              </td>
              <td>
                <%= f.label :year, "Year" %>
                <%= f.text_field :year %>
              </td>
            </tr>
          </table>
        </tr>

        <tr>
          <table class="no-bord">
            <tr>
              <td>
                <%= f.label :formation_id, "Formation" %>
                <%= f.collection_select :formation_id, @formation_collection, :id, :name, required: true %>
                <%= link_to "New Formation", new_formation_path, target: '_blank', :class => "new-button" %>
              </td>
              <td>
                <%= f.label :meter_id, "Meter" %>
                <%= f.collection_select :meter_id, @meter_collection, :id, :name, required: true %>
                <%= link_to "New Meter", new_meter_path, target: '_blank', :class => "new-button" %>
              </td>
            </tr>
          </table>
        </tr>

        <tr>
          <table class="no-bord">
            <tr>
              <td>
                <label>Directions</label>
              </td>
            </tr>
          </table>
        </tr>

        <tr>
          <table id="dd-form" class="dd-form">
            <tr>
              <th class="hidden-label">
                <label for="sequence" class="seq">Sequence</label>
              </th>
              <th>
                <label for="mark" class="mar">Mark</label>
              </th>
              <th>
                <label for="measure" class="mea">Measure</label>
              <th>
                <label for="direction" class="dir">Movement</label>
              <th>
                <label for="position" class="pos">Position</label>
              </th>
            </tr>
            <section id="dd-editable-list">
              <% if @dance_directions %>
                <% @dance_directions.each do |dd| %>
                  <tr class="dd-editable">
                    <%= render 'dance_directions/form', dd: dd %>
                  </tr>
                <% end %>
              <% end %>
            </section>
            <section id="dd-new-list">
            </section>
          </table>
          <table>
            <tr>
              <td>
                <button type="button" id="dd-add" class="ref-button">+</button>
              </td>
            </tr>
          </table>
        </tr>

        <tr>
          <table>
            <tr>
              <td class="actions">
                <p><%= f.submit %></p>
              </td>
            </tr>
          </table>
        </tr>

      </table>
    </form>
  </div>
<% end %>
