<main id='dance-show' class='dance-show'>
  <header>
    <ul class='user-bar'>
      <% if @dance.creator?(current_user) || @admin_user %>
        <li><%= link_to 'Delete', @dance, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li><%= link_to 'Edit', edit_dance_path(@dance) %></li>
      <% end %>
      <li>Created by: <%= link_to @dance.user.first_name, user_path(@dance.user_id) %></li>
    </ul>
    <p id='dance-id' class='hidden-all'><%= @dance.id %></p>

    <h2><%= @dance.title %></h2>
  </header>

  <table class='dance-info'>
    <tr>
      <td>
        <h6>Formation: </h6>
        <p><%= link_to @dance.formation.name, formation_path(@dance.formation) %></p>
      </td>

      <td>
        <h6>Meter: </h6>
        <p><%= link_to @dance.meter.name, meter_path(@dance.meter) %></p>
      </td>
    </tr>

    <% if @dance.author %>
      <tr>
        <td>
          <h6>Author: </h6>
          <p><%= @dance.author %></p>
        </td>
    <% end %>

      <% if @dance.publication %>
        <td>
          <h6>Publication: </h6>
          <p><%= @dance.publication %>
      <% end %>

      <% if @dance.year %>
          (<%= @dance.year %>)</p>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>
        <h6>Directions</h6>
      </td>
      <td></td>
      <% if @dance.dance_directions %>
        <%= render 'dance_directions/dance_direction_table', dds: @dance_directions %>
      <% end %>
    </tr>
  </table>

  <section id='comments' class='comments'>
    <header>
      <h3>Comments</h3>
      <%= link_to 'Create Comment', new_dance_dance_comment_path(@dance) %>
      <% if current_user %>
        <form id='dc-form'>
          <%= render 'dance_comments/form', dance: @dance, dance_comment: @dance_comment %>
        </form>
      <% end %>
    </header>

    <% if @dance.dance_comments %>
      <ul id='dance-comment-list' class='dance-comment-list'>
        <% @dance_comments.each do |dc| %>
          <li>
            <%= render 'dance_comments/dance_comment_box', dc: dc %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
</main>
