<% if @creator || @admin_user %>
  <ul class="user_bar">
    <li><%= link_to 'Edit', edit_dance_path(@dance) %></li>
    <li><%= link_to 'Delete', @dance, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
<% end %>

<h2><%= @dance.title %></h2>
<p>Created by: <%= @dance.user.first_name %></p>

<div class="dance_info">

  <h3>Formation:</h3>
  <p><%= link_to @dance.formation.name, formation_path(@dance.formation) %></p>

  <h3>Meter:</h3>
  <p><%= link_to @dance.meter.name, meter_path(@dance.meter) %></p>

  <% if @dance.author %>
    <h3>Author</h3>
    <p><%= @dance.author %>
  <% end %>

  <% if @dance.publication %>
    <h3>Publication</h3>
    <p><%= @dance.publication %></p>
  <% end %>

  <% if @dance.year %>
    (<%= @dance.year %>)</p>
  <% end %>
</div>

<div class="dance_directions">
  <h3>Direction</h3>
  <p><%= @dance.direction %></p>
</div>

<% if @dance.dance_comments %>
  <div class="comments" id="dance_commentlist">
    <h3>Comments</h3>
    <%= link_to 'Create Comment', new_dance_dance_comment_path(@dance) %>

    <ul>
      <% @dance.dance_comments.each do |dc| %>
        <li id="comment_box">
          <h3><%= link_to dc.comment_type.name, comment_type_path(dc.comment_type_id) %></h3>
          <h4><%= link_to dc.user.first_name, dance_comment_path(dc.user.id) %></h4>
          <p><%= link_to dc.comment, dance_comment_path(dc) %></p>

          <% if dc.creator?(current_user) %>
            <%= link_to "Edit", edit_dance_comment_path(dc) %>
          <% end %>
          <% if dc.creator?(current_user) || @creator || @admin_user %>
            <%= link_to 'Delete', dc, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
