<% if @creator %>
  <ul class="user_bar">
    <li><%= link_to 'Edit', edit_dance_path(@dance) %></li>
    <li><%= link_to 'Delete', @dance, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
<% end %>

<h2><%= @dance.title %></h2>
<p>Created by: <%= @dance.user.first_name %></p>

<div class="dance_info">

  <h3>Formation:</h3>
  <p><%= link_to @dance.formation.name, formation_path(@dance.formation) %></p>

  <h3>Meter:</h3>
  <p><%= @dance.meter.name %></p>

  <% if @dance.author %>
    <h3>Author</h3>
    <p><%= @dance.author %>
  <% end %>

  <% if @dance.publication %>
    <h3>Publication</h3>
    <p><%= @dance.publication %></p>
  <% end %>

  <% if @dance.year %>
    (<%= @dance.year %>)</p>
  <% end %>
</div>

<div class="dance_directions">
  <h3>Direction</h3>
  <p><%= @dance.direction %></p>
</div>
