<%= form_for(@formation) do |f| %>

  <div class="field required">
    <h2><%= f.label :name, "Name" %></h2>
    <%= f.text_field :name %>
  </div>

  <div class="field required">
    <h2><%= f.label :description, "Description" %></h2>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
