<%= form_for(@formation) do |f| %>

  <div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description, "Description" %><br />
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
